@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-bg {
    background: radial-gradient(circle at center, #ffffff 0%, #d7e8ff 30%, #dbeaff 70%, #ffffff 100%);
    
    width: 100%;
}

.gradient-nav {
    background: radial-gradient(circle at center, #ffffff 0%, #a7cdff 30%, #dbeaff 70%, #ffffff 100%);
}

.gradient-website {
    background: radial-gradient(circle at center, #204a7c 0%, #0e305e 30%, #0b2b5a 70%, #092046 100%);
    width: 100%;
  }