@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-bg {
    background: radial-gradient(circle at center, #152f4e 0%, #0a2344 30%, #071a36 70%, #051227 100%);
    min-height: 100vh;
    width: 100%;
}

.gradient-nav {
    background: radial-gradient(circle at center, #152f4e 0%, #0a2344 30%, #071a36 70%, #051227 100%);
}